// search bar try

// .search-bar {
//   position: relative;
//   margin: 25% 0 0 25%;
// }
// .input-search {
//   height: 100px;
//   width: 100px;
//   transition: all 0.5s ease-in-out;
// }
// .input-search::placeholder {
//   font-size: 25px;
// }

// .btn-search {
//   height: 100px;
//   width: 100px;
//   cursor: pointer;
//   position: absolute;
// }

// .btn-search:focus ~ .input-search {
//   width: 100px;
//   transition: all 500ms cubic-bezier(0.58, 0, 0.19, 1);
// }

$base-color: #510b76;
$secondary-color: #fff;
$glow-color: #ffb802;

@font-face {
  font-family: "mixarab";
  src: url(/assets/fonts/TheMixArab-Black.ttf);
  font-weight: bolder;
}
@font-face {
  font-family: "mixarab";
  src: url(/assets/fonts/TheMixArab-Bold.ttf);
  font-weight: bold;
}
@font-face {
  font-family: "mixarab";
  src: url(/assets/fonts/TheMixArab-Regular.ttf);
  font-weight: normal;
}

body {
  font-family: "mixarab";
  font-size: 16px;
}

header {
  background-color: $secondary-color;
  .nav-item {
    a {
      color: #000;
    }
  }
}

.green {
  background-color: #0b760f;
}
.orange {
  background-color: #f58026;
}
.purple {
  background-color: #510b76;
  color: #fff;
}

.circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

@keyframes glowing {
  0% {
    box-shadow: 0 0 5px $glow-color;
  }
  50% {
    box-shadow: 0 0 20px $glow-color;
  }
  100% {
    box-shadow: 0 0 5px $glow-color;
  }
}

.pill {
  border: 0;
  border-radius: 56px;
  padding: 5px 20px;

  &.white {
    border: 1px solid #1211271f;
    background: transparent;
  }

  &.glow {
    animation: glowing 1300ms infinite;
  }
}

.section-break {
  margin-top: 113px;
}

.edit-image {
  mix-blend-mode: hard-light;
  filter: grayscale(90%);
  border-bottom-right-radius: 10%;
}
.intro-tab {
  border-left: 2px solid #fff;
  padding: 0 15px;
}
.intro-tab:last-child {
  border: 0;
}

.intro-title {
  font-size: 56px;
  padding-bottom: 20px;
}
.intro-heading {
  font-size: 40px;
  padding-bottom: 20px;
}
.intro-text {
  font-size: 20px;
}

.fs-18px {
  font-size: 18px;
}

.img-placeholder {
  position: relative;
}

.square-shade {
  position: absolute;
  height: 300px;
  width: 300px;
  border-radius: 10%;
  background-color: #e1d9e6;
  bottom: -40px;
  left: 40px;
  display: none;

  z-index: -1;
  @media screen and (min-width: 768px) {
    display: block;
  }
}
.card {
  height: 100%;
  text-align: center;
  border: 0;
}
.card-title {
  font-size: 24px;
  padding: 5px 10px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.card-body {
  background-color: #fafafa;
}

.bot-card {
  box-shadow: 15px 15px 50px rgba(143, 81, 211, 0.1);
  border-radius: 30px;
  padding: 20px;
}

.modalx {
  z-index: 2000;

  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.4);

  @media (max-width: 768px) {
    padding-top: 30px;
  }
  .modalx-content {
    margin: auto;
    border-radius: 5px;
    background-color: #fff;
    position: relative;
    padding: 0;
    width: 600px;
    @media (max-width: 768px) {
      width: 500px;
    }

    .modalx-container {
      padding: 10px;

      .close-btn {
        border: none;
        border-top-right-radius: 5px;

        padding: 4px 8px;
        vertical-align: middle;
        color: #fff;
        background: #a72a2a;
        text-decoration: none;

        text-align: center;

        user-select: none;

        &:hover {
          background: #ff0000;
        }

        &.top-right {
          position: absolute;
          right: 0;
          top: 0;
        }
      }
    }
  }
}
